<section class="max-w-[800px] mx-auto px-4 lg:pb-24 pb-20 pt-0">
    <h3
        class="md:text-40 text-32 font-bold text-link dark:text-white leading-tight text-center mb-14">
        Frequently asked questions</h3>
    <div class="hs-accordion-group">
        <div class="hs-accordion active border-border border  -mt-px first:rounded-t-md last:rounded-b-md rounded-t-md dark:border-darkborder"
            id="hs-bordered-heading-one">
            <button
                class="hs-accordion-toggle hs-accordion-active:text-primary inline-flex items-center justify-between gap-x-3 w-full font-semibold text-start text-dark py-5 px-6 hover:text-primary dark:text-white text-lg dark:hover:text-primary"
                aria-controls="hs-basic-bordered-collapse-one">
                What is included with my purchase?
                <svg class="hs-accordion-active:hidden block w-5 h-5 shrink-0"
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path d="M5 12h14" />
                    <path d="M12 5v14" />
                </svg>
                <svg class="hs-accordion-active:block hidden w-5 h-5 shrink-0"
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path d="M5 12h14" />
                </svg>

            </button>
            <div id="hs-basic-bordered-collapse-one"
                class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300"
                aria-labelledby="hs-bordered-heading-one">
                <div class="pb-4 px-5">
                    <p class="text-base">
                        Tailor the dashboard to your exact needs. Customize layouts, color schemes,
                        and widgets
                        effortlessly for a personalized user experience.
                    </p>
                </div>
            </div>
        </div>

        <div class="hs-accordion border-border border -mt-px first:rounded-t-md last:rounded-b-md dark:border-darkborder"
            id="hs-bordered-heading-two">
            <button
                class="hs-accordion-toggle hs-accordion-active:text-primary justify-between inline-flex items-center gap-x-3 w-full font-semibold text-start text-dark py-5 px-6 hover:text-primary dark:text-white text-lg dark:hover:text-primary"
                aria-controls="hs-basic-bordered-collapse-two">
                Are there any recurring fees?
                <svg class="hs-accordion-active:hidden block w-5 h-5 shrink-0"
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path d="M5 12h14" />
                    <path d="M12 5v14" />
                </svg>
                <svg class="hs-accordion-active:block hidden w-5 h-5 shrink-0"
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path d="M5 12h14" />
                </svg>

            </button>
            <div id="hs-basic-bordered-collapse-two"
                class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300"
                aria-labelledby="hs-bordered-heading-two">
                <div class="pb-4 px-5">
                    <p class="text-base">
                        Unlock the true potential of your data with our advanced analytics tools.
                        Gain valuable insights
                        and make data-driven decisions with ease.
                    </p>
                </div>
            </div>
        </div>

        <div class="hs-accordion border-border border -mt-px first:rounded-t-md last:rounded-b-md dark:border-darkborder"
            id="hs-bordered-heading-three">
            <button
                class="hs-accordion-toggle hs-accordion-active:text-primary justify-between inline-flex items-center gap-x-3 w-full font-semibold text-start text-dark py-5 px-6 hover:text-primary dark:text-white text-lg dark:hover:text-primary"
                aria-controls="hs-basic-bordered-collapse-three">
                Can I use the template on multiple projects?
                <svg class="hs-accordion-active:hidden block w-5 h-5 shrink-0"
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path d="M5 12h14" />
                    <path d="M12 5v14" />
                </svg>
                <svg class="hs-accordion-active:block hidden w-5 h-5 shrink-0"
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path d="M5 12h14" />
                </svg>

            </button>
            <div id="hs-basic-bordered-collapse-three"
                class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300"
                aria-labelledby="hs-bordered-heading-three">
                <div class="pb-4 px-5">
                    <p class="text-base">
                        Visualize complex data sets beautifully with our interactive graphs and
                        charts. Quickly grasp
                        trends and patterns for smarter analysis.
                    </p>
                </div>
            </div>
        </div>
        <div class="hs-accordion border-border border -mt-px first:rounded-t-md last:rounded-b-md dark:border-darkborder"
            id="hs-bordered-heading-four">
            <button
                class="hs-accordion-toggle hs-accordion-active:text-primary justify-between inline-flex items-center gap-x-3 w-full font-semibold text-start text-dark py-5 px-6 hover:text-primary dark:text-white text-lg dark:hover:text-primary"
                aria-controls="hs-basic-bordered-collapse-three">
                Can I customize the admin dashboard template to match my brand?
                <svg class="hs-accordion-active:hidden block w-5 h-5 shrink-0"
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path d="M5 12h14" />
                    <path d="M12 5v14" />
                </svg>
                <svg class="hs-accordion-active:block hidden w-5 h-5 shrink-0"
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path d="M5 12h14" />
                </svg>

            </button>
            <div id="hs-basic-bordered-collapse-three"
                class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300"
                aria-labelledby="hs-bordered-heading-four">
                <div class="pb-4 px-5">
                    <p class="text-base">
                        Visualize complex data sets beautifully with our interactive graphs and
                        charts. Quickly grasp
                        trends and patterns for smarter analysis.
                    </p>
                </div>
            </div>
        </div>
        <div class="hs-accordion border-border border -mt-px first:rounded-t-md last:rounded-b-md dark:border-darkborder"
            id="hs-bordered-heading-five">
            <button
                class="hs-accordion-toggle hs-accordion-active:text-primary justify-between inline-flex items-center gap-x-3 w-full font-semibold text-start text-dark py-5 px-6 hover:text-primary dark:text-white text-lg dark:hover:text-primary"
                aria-controls="hs-basic-bordered-collapse-three">
                Are there any restrictions on using the template?
                <svg class="hs-accordion-active:hidden block w-5 h-5 shrink-0"
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path d="M5 12h14" />
                    <path d="M12 5v14" />
                </svg>
                <svg class="hs-accordion-active:block hidden w-5 h-5 shrink-0"
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path d="M5 12h14" />
                </svg>

            </button>
            <div id="hs-basic-bordered-collapse-three"
                class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300"
                aria-labelledby="hs-bordered-heading-five">
                <div class="pb-4 px-5">
                    <p class="text-base">
                        Visualize complex data sets beautifully with our interactive graphs and
                        charts. Quickly grasp
                        trends and patterns for smarter analysis.
                    </p>
                </div>
            </div>
        </div>
        <div class="hs-accordion border-border border -mt-px first:rounded-t-md last:rounded-b-md dark:border-darkborder"
            id="hs-bordered-heading-six">
            <button
                class="hs-accordion-toggle hs-accordion-active:text-primary justify-between inline-flex items-center gap-x-3 w-full font-semibold text-start text-dark py-5 px-6 hover:text-primary dark:text-white text-lg dark:hover:text-primary"
                aria-controls="hs-basic-bordered-collapse-three">
                How can I get support after purchase?
                <svg class="hs-accordion-active:hidden block w-5 h-5 shrink-0"
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path d="M5 12h14" />
                    <path d="M12 5v14" />
                </svg>
                <svg class="hs-accordion-active:block hidden w-5 h-5 shrink-0"
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path d="M5 12h14" />
                </svg>

            </button>
            <div id="hs-basic-bordered-collapse-three"
                class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300"
                aria-labelledby="hs-bordered-heading-six">
                <div class="pb-4 px-5">
                    <p class="text-base">
                        Visualize complex data sets beautifully with our interactive graphs and
                        charts. Quickly grasp
                        trends and patterns for smarter analysis.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <p
        class="mt-14 w-fit mx-auto py-1 px-2 rounded-md border-2 border-dashed border-border dark:border-darkborder text-sm font-medium justify-center text-lightmuted dark:text-darklink flex items-center flex-wrap gap-1">
        Still have a question?
        <Link href="https://discord.com/invite/XujgB8ww4n" class="underline hover:text-primary">Ask
        On Discord
        </Link> <span>or</span>
        <a href="https://tailwind-admin.com/support" class="underline hover:text-primary">Submit A
            Ticket</a>
    </p>
</section>