<div
						class="container lg:py-24 py-12 bg-lightprimary dark:bg-lightprimary rounded-base overflow-hidden">
						<div class="flex justify-center w-full mb-16">
							<div class="lg:w-6/12 w-full">
								<h2
									class="md:text-40 text-32 font-bold text-link dark:text-white leading-tight text-center">
									Enjoy unparalleled features & exceptional flexibility.
								</h2>
							</div>
						</div>
						<div class="marquee1-group flex gap-6">
							<div class="flex gap-6 mb-6">
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-wand text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										6 Theme Colors</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-brightness text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Dark & Light
										Sidebar</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-brand-firebase text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										425+ Page
										Templates</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-archive text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										150+ UI Components
									</p>
								</div>

								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-brand-tailwind text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Tailwindcss 4x</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-overline text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Preline UI</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-diamond text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										3400+ Font Icons
									</p>
								</div>
							</div>
							<div class="flex gap-6 mb-6">
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-wand text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										6 Theme Colors</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-brightness text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Dark & Light
										Sidebar</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-brand-firebase text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										425+ Page
										Templates</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-archive text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										150+ UI Components
									</p>
								</div>

								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-brand-tailwind text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Tailwindcss 4x</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-overline text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Preline UI</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-diamond text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										3400+ Font Icons
									</p>
								</div>
							</div>
							<div class="flex gap-6 mb-6">
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-wand text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										6 Theme Colors</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-brightness text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Dark & Light
										Sidebar</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-brand-firebase text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										425+ Page
										Templates</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-archive text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										150+ UI Components
									</p>
								</div>

								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-brand-tailwind text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Tailwindcss 4x</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-overline text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Preline UI</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-diamond text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										3400+ Font Icons
									</p>
								</div>
							</div>
							<div class="flex gap-6 mb-6">
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-wand text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										6 Theme Colors</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-brightness text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Dark & Light
										Sidebar</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-brand-firebase text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										425+ Page
										Templates</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-archive text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										150+ UI Components
									</p>
								</div>

								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-brand-tailwind text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Tailwindcss 4x</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-overline text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Preline UI</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-diamond text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										3400+ Font Icons
									</p>
								</div>
							</div>
						</div>
						<div class="marquee2-group flex gap-6">
							<div class="flex gap-6 mb-6">
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-device-desktop text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Fully Responsive
									</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-arrows-shuffle text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Easy to Customize
									</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-chart-pie text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Lots of Chart
										Options</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-layers-intersect text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Lots of Tables</p>
								</div>
							</div>
							<div class="flex gap-6 mb-6">
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-device-desktop text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Fully Responsive
									</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-arrows-shuffle text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Easy to Customize
									</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-chart-pie text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Lots of Chart
										Options</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-layers-intersect text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Lots of Tables</p>
								</div>
							</div>
							<div class="flex gap-6 mb-6">
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-device-desktop text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Fully Responsive
									</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-arrows-shuffle text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Easy to Customize
									</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-chart-pie text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Lots of Chart
										Options</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-layers-intersect text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Lots of Tables</p>
								</div>
							</div>
							<div class="flex gap-6 mb-6">
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-device-desktop text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Fully Responsive
									</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-arrows-shuffle text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Easy to Customize
									</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-chart-pie text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Lots of Chart
										Options</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-layers-intersect text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Lots of Tables</p>
								</div>
							</div>
							<div class="flex gap-6 mb-6">
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-device-desktop text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Fully Responsive
									</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-arrows-shuffle text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Easy to Customize
									</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-chart-pie text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Lots of Chart
										Options</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-layers-intersect text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Lots of Tables</p>
								</div>
							</div>
							<div class="flex gap-6 mb-6">
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-device-desktop text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Fully Responsive
									</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-arrows-shuffle text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Easy to Customize
									</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-chart-pie text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Lots of Chart
										Options</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-layers-intersect text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Lots of Tables</p>
								</div>
							</div>

						</div>
						<div class="marquee1-group flex gap-6">

							<div class="flex gap-6 mb-6" key={index}>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-chart-pie text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Lots of Chart
										Options</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-layers-intersect text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Lots of Table
										Examples</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-refresh text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Regular Updates
									</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-book text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Detailed
										Documentation</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-calendar text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Calendar Design
									</p>
								</div>

							</div>
							<div class="flex gap-6 mb-6" key={index}>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-chart-pie text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Lots of Chart
										Options</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-layers-intersect text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Lots of Table
										Examples</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-refresh text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Regular Updates
									</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-book text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Detailed
										Documentation</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-calendar text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Calendar Design
									</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-user-screen text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Dedicated Support
									</p>
								</div>
							</div>
							<div class="flex gap-6 mb-6" key={index}>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-chart-pie text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Lots of Chart
										Options</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-layers-intersect text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Lots of Table
										Examples</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-refresh text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Regular Updates
									</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-book text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Detailed
										Documentation</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-calendar text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Calendar Design
									</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-user-screen text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Dedicated Support
									</p>
								</div>
							</div>
							<div class="flex gap-6 mb-6" key={index}>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-chart-pie text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Lots of Chart
										Options</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-layers-intersect text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Lots of Table
										Examples</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-refresh text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Regular Updates
									</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-book text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Detailed
										Documentation</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-calendar text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Calendar Design
									</p>
								</div>
								<div
									class="py-6 px-8 rounded-base shadow-[0px_56px_56px_-25px_rgba(0,0,0,0.08)]! flex gap-3 items-center bg-white dark:bg-dark ">
									<i class="ti ti-user-screen text-primary text-2xl shrink-0"></i>
									<p class="text-[15px] font-semibold whitespace-nowrap text-link dark:text-darklink">
										Dedicated Support
									</p>
								</div>
							</div>
						</div>
					</div>