<div class="px-4 container">
    <div class=" bg-lightprimary rounded-base relative overflow-hidden">
        <div class="flex w-full">
            <div class="lg:w-6/12 w-full lg:p-24 py-12 px-4 lg:pe-10 pe-4">
                <h3 class="md:text-40 text-32 font-bold leading-tight text-link dark:text-white">
                    Develop with
                    feature-rich
                    Tailwind Dashboard</h3>
                <div class="my-6 flex items-center gap-4">
                    <a href="./authentication-login.html" target="_blank"
                        class="btn bg-primary hover:bg-primaryemphasis text-white btn-md py-2.5 px-4 w-fit block">Login</a>
                    <a href="./authentication-register.html" target="_blank"
                        class="btn border border-primary bg-transparent text-primary hover:bg-primary dark:hover:bg-primary hover:text-white rounded-md btn-md py-2.5 px-4 w-fit block">Register</a>
                </div>
                <p class="text-base font-medium text-link dark:text-white">
                    <span class="font-semibold">One-time purchase</span> - no recurring fees.
                </p>
            </div>
        </div>
        <img src='./assets/images/design-collection.png' alt="banner"
            class="absolute top-0 -end-[300px] rtl:-scale-x-100 lg:block hidden" />
    </div>
</div>