<div class="wrapper lg:pt-6 pt-0 bg-lightprimary dark:bg-lightprimary">
    <div class="container-md px-4 lg:py-4 py-0">
        <div class="grid grid-cols-12 gap-6 lg:py-24 py-12">
            <div class="lg:col-span-6 col-span-12">
                <h3 class="lg:text-5xl text-32 font-bold text-link dark:text-white leading-tight!">
                    Get to know TailwindAdmin Dashboard Template</h3>
                <div class="flex flex-wrap mt-6 gap-4">
                    <a href="./authentication-register.html" target="_blank"
                        class="btn bg-primary hover:bg-primaryemphasis text-white btn-md py-2.5 px-4 w-fit block">Create
                        An Account</a>
                    <a href="./frontend-aboutpage.html" target="_blank"
                        class="btn border border-primary bg-transparent text-primary hover:bg-primary dark:hover:bg-primary hover:text-white rounded-md py-2.5 px-4 w-fit block">
                        View Open Position</a>
                </div>
            </div>
            <div class="lg:col-span-6 col-span-12">
                <p class="text-base text-lightmuted dark:text-darklink leading-loose lg:ps-16 ps-0">
                    Do you need a highly customizable and developer friendly premium tailwind html
                    admin template packed with numerous features? <span
                        class="text-link font-semibold dark:text-white">TailwindAdmin Tailwind Html
                        Admin</span> Template has everything you need. This <span
                        class="text-link font-semibold dark:text-white">Tailwind</span> based admin
                    template is designed in accordance with industry standards and best practices to
                    provide you.</p>
            </div>
        </div>
    </div>
</div>