<div class="lg:pt-24 lg:pb-[66px] pb-[18px] container-md px-4 pt-12">
    <div class="flex justify-between items-center flex-wrap md:gap-0 gap-2">
        <div class="flex flex-col gap-4">
            <h1 class="leading-tight text-link dark:text-white font-bold md:text-40 text-32 ">Our
                leadership</h1>
            <p class="max-w-96 text-lightmuted dark:text-darklink text-base">
                Our robust analytics offer rich insights into the information buyers want, informing
                where teams
            </p>
        </div>
    </div>
    <div class="mt-8">
        <div class="swiper our-leadership">
            <div class="swiper-wrapper">
                <div class="swiper-slide px-2">
                    <div class="my-3">
                        <div class="img-wrapper">
                            <img src='./assets/images/leader1.jpg'
                                alt="leader-image" class="rounded-base" />
                            <div class="px-6">
                                <div
                                    class="rounded-[10px] z-20 relative bg-white dark:bg-dark text-center shadow-[-1px_13px_22px_-4px_rgba(145,158,171,0.12)] -mt-10 py-4 px-3">
                                    <h1 class="text-lg text-link dark:text-white font-semibold">Alex
                                        Martinez</h1>
                                    <div class="text-sm text-lightmuted dark:text-darklink">CEO &
                                        Co-Founder</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide px-2">
                    <div class="my-3">
                        <div class="img-wrapper">
                            <img src='./assets/images/leader2.jpg'
                                alt="leader-image" class="rounded-base" />
                            <div class="px-6">
                                <div
                                    class="rounded-[10px] z-20 relative bg-white dark:bg-dark text-center shadow-[-1px_13px_22px_-4px_rgba(145,158,171,0.12)] -mt-10 py-4 px-3">
                                    <h1 class="text-lg text-link dark:text-white font-semibold">
                                        Jordan
                                        Nguyen</h1>
                                    <div class="text-sm text-lightmuted dark:text-darklink">CTO &
                                        Co-Founder</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide px-2">
                    <div class="my-3">
                        <div class="img-wrapper">
                            <img src='./assets/images/leader3.jpg'
                                alt="leader-image" class="rounded-base" />
                            <div class="px-6">
                                <div
                                    class="rounded-[10px] z-20 relative bg-white dark:bg-dark text-center shadow-[-1px_13px_22px_-4px_rgba(145,158,171,0.12)] -mt-10 py-4 px-3">
                                    <h1 class="text-lg text-link dark:text-white font-semibold">
                                        Taylor
                                        Roberts</h1>
                                    <div class="text-sm text-lightmuted dark:text-darklink">Product
                                        Manager</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide px-2">
                    <div class="my-3">
                        <div class="img-wrapper">
                            <img src='./assets/images/leader4.jpg'
                                alt="leader-image" class="rounded-base" />
                            <div class="px-6">
                                <div
                                    class="rounded-[10px] z-20 relative bg-white dark:bg-dark text-center shadow-[-1px_13px_22px_-4px_rgba(145,158,171,0.12)] -mt-10 py-4 px-3">
                                    <h1 class="text-lg text-link dark:text-white font-semibold">
                                        Katherine lily</h1>
                                    <div class="text-sm text-lightmuted dark:text-darklink">Lead
                                        Developer</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide px-2">
                    <div class="my-3">
                        <div class="img-wrapper">
                            <img src='./assets/images/leader1.jpg'
                                alt="leader-image" class="rounded-base" />
                            <div class="px-6">
                                <div
                                    class="rounded-[10px] z-20 relative bg-white dark:bg-dark text-center shadow-[-1px_13px_22px_-4px_rgba(145,158,171,0.12)] -mt-10 py-4 px-3">
                                    <h1 class="text-lg text-link dark:text-white font-semibold">Alex
                                        Martinez</h1>
                                    <div class="text-sm text-lightmuted dark:text-darklink">CEO &
                                        Co-Founder</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide px-2">
                    <div class="my-3">
                        <div class="img-wrapper">
                            <img src='./assets/images/leader2.jpg'
                                alt="leader-image" class="rounded-base" />
                            <div class="px-6">
                                <div
                                    class="rounded-[10px] z-20 relative bg-white dark:bg-dark text-center shadow-[-1px_13px_22px_-4px_rgba(145,158,171,0.12)] -mt-10 py-4 px-3">
                                    <h1 class="text-lg text-link dark:text-white font-semibold">
                                        Jordan
                                        Nguyen</h1>
                                    <div class="text-sm text-lightmuted dark:text-darklink">CTO &
                                        Co-Founder</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide px-2">
                    <div class="my-3">
                        <div class="img-wrapper">
                            <img src='./assets/images/leader3.jpg'
                                alt="leader-image" class="rounded-base" />
                            <div class="px-6">
                                <div
                                    class="rounded-[10px] z-20 relative bg-white dark:bg-dark text-center shadow-[-1px_13px_22px_-4px_rgba(145,158,171,0.12)] -mt-10 py-4 px-3">
                                    <h1 class="text-lg text-link dark:text-white font-semibold">
                                        Taylor
                                        Roberts</h1>
                                    <div class="text-sm text-lightmuted dark:text-darklink">Product
                                        Manager</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide px-2">
                    <div class="my-3">
                        <div class="img-wrapper">
                            <img src='./assets/images/leader4.jpg'
                                alt="leader-image" class="rounded-base" />
                            <div class="px-6">
                                <div
                                    class="rounded-[10px] z-20 relative bg-white dark:bg-dark text-center shadow-[-1px_13px_22px_-4px_rgba(145,158,171,0.12)] -mt-10 py-4 px-3">
                                    <h1 class="text-lg text-link dark:text-white font-semibold">
                                        Katherine lily</h1>
                                    <div class="text-sm text-lightmuted dark:text-darklink">Lead
                                        Developer</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="swiper-button-prev text-link! w-10! h-10! bg-white shadow-lg rounded-full hover:bg-gray-50 transition-colors border border-gray-100 -left-1! md:-left-3!">

            </div>
            <div
                class="swiper-button-next text-link! w-10! h-10! bg-white shadow-lg rounded-full hover:bg-gray-50 transition-colors border border-gray-100 -right-1! md:-right-3!">

            </div>
        </div>
    </div>
</div>