<div
						class="w-full shadow-[10px_12px_30px_-2px_rgba(58,75,122,0.15)] border-t border-border dark:border-darkborder">
						<div class="container-md px-4 lg:py-24 py-12 ">
							<div class="grid grid-cols-12 gap-6">
								<div class="lg:col-span-6 col-span-12 lg:pe-28 pe-0">
									<h3
										class="lg:text-40 text-32 font-bold text-link dark:text-white leading-tight mb-4">
										Key metric at a glance</h3>
									<div class="text-base text-lightmuted dark:text-darklink leading-loose">From the
										year we were founded to the impressive customer base we've built, and the growth
										percentages that reflect our continuous improvement, these numbers tell our
										story at a glance. Explore the data that drives our mission and underscores our
										commitment to excellence.</div>
								</div>
								<div class="lg:col-span-6 col-span-12 px-4">
									<div class="grid grid-cols-12 gap-6 lg:gap-y-12 gap-y-8">
										<div class="lg:col-span-6 md:col-span-6 col-span-12 flex flex-col gap-2">
											<p class="text-[13px] font-medium text-primary uppercase">founded</p>
											<h4 class="font-semibold text-link dark:text-white lg:text-5xl text-32">2019
											</h4>
											<p class="text-base text-lightmited dark:text-darklink">When we founded
												TailwindAdmin</p>
										</div>
										<div class="lg:col-span-6 md:col-span-6 col-span-12 flex flex-col gap-2">
											<p class="text-[13px] font-medium text-primary uppercase">Growth</p>
											<h4 class="font-semibold text-link dark:text-white lg:text-5xl text-32">
												1,400%</h4>
											<p class="text-base text-lightmited dark:text-darklink">Revenue growth in
												2026</p>
										</div>
										<div class="lg:col-span-6 md:col-span-6 col-span-12 flex flex-col gap-2">
											<p class="text-[13px] font-medium text-primary uppercase">customers</p>
											<h4 class="font-semibold text-link dark:text-white lg:text-5xl text-32">
												1,400%</h4>
											<p class="text-base text-lightmited dark:text-darklink">Customers on
												TailwindAdmin</p>
										</div>
										<div class="lg:col-span-6 md:col-span-6 col-span-12 flex flex-col gap-2">
											<p class="text-[13px] font-medium text-primary uppercase">Dashboards</p>
											<h4 class="font-semibold text-link dark:text-white lg:text-5xl text-32">25k+
											</h4>
											<p class="text-base text-lightmited dark:text-darklink">Dashboards built
												using TailwindAdmin</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>