<div class="container px-4 pb-0 lg:pt-24 pt-12">
    <div class="wrapper lg:py-[72px] py-12 bg-lightprimary dark:bg-lightprimary rounded-xl">
        <div class="grid grid-cols-12 mb-14">
            <div class="lg:col-span-6 col-span-12">
                <h1
                    class="md:ps-16 ps-8 sm:pe-0 pe-8 font-bold text-link dark:text-white leading-tight md:text-40 text-32">
                    Discover Powerful Dozens of
                    Purpose-Fit Templates</h1>
            </div>
        </div>
        <div class="mt-8">
            <div class="swiper template-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="pb-8 focus:outline-0">
                            <img src='./assets/images/demo-dark.png' alt="demos"
                                class="max-w-full w-full rounded-md shadow-[10px_12px_30px_-2px_rgba(58,75,122,0.15)]" />
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="pb-8 focus:outline-0">
                            <img src='./assets/images/demo-horizontal.png' alt="demos"
                                class="max-w-full w-full rounded-md shadow-[10px_12px_30px_-2px_rgba(58,75,122,0.15)]" />
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="pb-8 focus:outline-0">
                            <img src='./assets/images/demo-main.png' alt="demos"
                                class="max-w-full w-full rounded-md shadow-[10px_12px_30px_-2px_rgba(58,75,122,0.15)]" />
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="pb-8 focus:outline-0">
                            <img src='./assets/images/demo-minisidebar.png' alt="demos"
                                class="max-w-full w-full rounded-md shadow-[10px_12px_30px_-2px_rgba(58,75,122,0.15)]" />
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="pb-8 focus:outline-0">
                            <img src='./assets/images/demo-rtl.png' alt="demos"
                                class="max-w-full w-full rounded-md shadow-[10px_12px_30px_-2px_rgba(58,75,122,0.15)]" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-8">
            <div class="container-md">
                <div class="grid grid-cols-12 gap-6 text-center">
                    <div class="lg:col-span-4 col-span-12">
                        <h4 class="text-lg text-link dark:text-white font-bold mb-4">High
                            Customizability</h4>
                        <p class="text-sm text-lightmuted dark:text-darklink leading-loose px-4">
                            Tailor the dashboard to
                            your exact needs. Customize layouts, color schemes, and widgets
                            effortlessly for a personalized
                            user experience.</p>
                    </div>
                    <div class="lg:col-span-4 col-span-12">
                        <h4 class="text-lg text-link dark:text-white font-bold mb-4">Powerful Data
                            Analytics</h4>
                        <p class="text-sm text-lightmuted dark:text-darklink leading-loose px-4">
                            Unlock the true potential
                            of your data with our advanced analytics tools. Gain valuable insights
                            and make data-driven
                            decisions with ease.</p>
                    </div>
                    <div class="lg:col-span-4 col-span-12">
                        <h4 class="text-lg text-link dark:text-white font-bold mb-4">Interactive
                            Graphs & Charts</h4>
                        <p class="text-sm text-lightmuted dark:text-darklink leading-loose px-4">
                            Visualize complex data
                            sets beautifully with our interactive graphs and charts. Quickly grasp
                            trends and patterns for
                            smarter analysis.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>