<div id="application-sidebar-lp"
		class="hs-overlay hs-overlay-open:translate-x-0 hidden -translate-x-full fixed top-0 start-0 transition-all duration-300 transform h-full max-w-72  w-full z-80 bg-white dark:bg-dark"
		tabindex="-1">
		<div class="py-6 px-5">
			<div class="brand-logo d-flex align-items-center justify-center">
  <a href="./index.html" class="text-nowrap logo-img">
    <img src="./assets/images/dark-logo.svg" class="dark:hidden block rtl:hidden" alt="Logo-Dark" />
    <img src="./assets/images/light-logo.svg" class="dark:block hidden rtl:hidden rtl:dark:hidden"
      alt="Logo-light" />

    <img src="./assets/images/dark-logo-rtl.svg" class="dark:hidden hidden rtl:block rtl:dark:hidden"
      alt="Logo-Dark" />
    <img src="./assets/images/light-logo-rtl.svg" class="dark:hidden hidden rtl:hidden rtl:dark:block"
      alt="Logo-light" />
  </a>
</div></div>
		<div style="max-height: calc(100vh - 100px);" data-simplebar>
			<ul class="flex flex-col gap-4 mt-4 px-5">
				<li class="py-2.5 px-4">
					<a href="./frontend-aboutpage.html"
						class="hover:text-primary text-link dark:text-darklink text-base">About Us</a>
				</li>
				<li class="py-2.5 px-4">
					<a href="./frontend-blogpage.html"
						class="hover:text-primary text-link dark:text-darklink text-base">Blog</a>
				</li>
				<li class="py-2.5 px-4">
					<a href="./frontend-portfoliopage.html"
						class='text-[15px] flex items-center text-link dark:text-darklink gap-2 hover:text-primary font-medium'>
						Portfolio
						<span
							class="inline-flex items-center gap-x-1.5 py-1 px-2 rounded-md text-xs font-medium bg-lightprimary! dark:bg-darkprimary! text-primary dark:text-primary">New</span>
					</a>
				</li>
				<li class="py-2.5 px-4">
					<a href="./index.html"
						class='text-[15px] text-link dark:text-darklink hover:text-primary font-medium'>Dashboard</a>
				</li>
				<li class="py-2.5 px-4">
					<a href="./frontend-pricingpage.html"
						class='text-[15px] text-link dark:text-darklink hover:text-primary font-medium'>Pricing</a>
				</li>
				<li class="py-2.5 px-4">
					<a href="./frontend-contactpage.html"
						class='text-[15px] text-link dark:text-darklink hover:text-primary font-medium'>Contact</a>
				</li>
				<li class="py-3 mt-2">
					<a href="./authentication-login.html" target="_blank"
						class="btn bg-primary hover:bg-primaryemphasis text-white btn-md py-2.5 px-4 w-full block">Login</a>
				</li>
			</ul>
		</div>
	</div>