<div
						class="w-full border-t border-border dark:border-darkborder mb-16 shadow-[10px_12px_30px_-2px_rgba(58,75,122,0.15)] overflow-x-auto">
						<div class="min-w-[900px]  container-md mx-auto w-full">
							<nav class="relative z-0 flex rounded-none overflow-hidden" aria-label="Tabs" role="tablist"
								aria-orientation="horizontal">
								<button type="button"
									class="hs-tab-active:border-primary hs-tab-active:text-gray-900 dark:hs-tab-active:text-white relative dark:hs-tab-active:border-primary min-w-0 flex-1 bg-white dark:bg-dark border-t-2 border-t-transparent py-7 px-4 text-gray-500 hover:text-gray-700 font-medium text-center overflow-hidden hover:bg-gray-50 text-lg focus:z-10 focus:outline-none focus:text-primary disabled:opacity-50  active"
									id="bar-with-underline-item-1" aria-selected="true"
									data-hs-tab="#bar-with-underline-1" aria-controls="bar-with-underline-1" role="tab">
									<div class="flex justify-center">
										<div class="flex gap-2 items-center">
											<i
												class="ti ti-user-circle shrink-0 text-2xl hs-tab-active:text-primary"></i>
											<h2 class="text-lg font-semibold hs-tab-active:text-primary">Team Scheduling
											</h2>
										</div>
									</div>
								</button>
								<button type="button"
									class="hs-tab-active:border-primary hs-tab-active:text-gray-900 dark:hs-tab-active:text-white relative dark:hs-tab-active:border-primary min-w-0 flex-1 bg-white dark:bg-dark border-t-2 border-t-transparent py-7 px-4 text-gray-500 hover:text-gray-700 text-sm font-medium text-center overflow-hidden hover:bg-gray-50 focus:z-10 focus:outline-none focus:text-primary disabled:opacity-50 "
									id="bar-with-underline-item-2" aria-selected="false"
									data-hs-tab="#bar-with-underline-2" aria-controls="bar-with-underline-2" role="tab">
									<div class="flex justify-center">
										<div class="flex gap-2 items-center">
											<i
												class="ti ti-credit-card-pay shrink-0 text-2xl hs-tab-active:text-primary"></i>
											<h2 class="text-lg font-semibold hs-tab-active:text-primary">Payments</h2>
										</div>
									</div>
								</button>
								<button type="button"
									class="hs-tab-active:border-primary hs-tab-active:text-gray-900 dark:hs-tab-active:text-white relative dark:hs-tab-active:border-primary min-w-0 flex-1 bg-white dark:bg-dark border-t-2 border-t-transparent py-7 px-4 text-gray-500 hover:text-gray-700 text-sm font-medium text-center overflow-hidden hover:bg-gray-50 focus:z-10 focus:outline-none focus:text-primary disabled:opacity-50 "
									id="bar-with-underline-item-3" aria-selected="false"
									data-hs-tab="#bar-with-underline-3" aria-controls="bar-with-underline-3" role="tab">
									<div class="flex justify-center">
										<div class="flex gap-2 items-center">
											<i
												class="ti ti-layout-sidebar-right shrink-0 text-2xl hs-tab-active:text-primary"></i>
											<h2 class="text-lg font-semibold hs-tab-active:text-primary">Embedding</h2>
										</div>
									</div>
								</button>
								<button type="button"
									class="hs-tab-active:border-primary hs-tab-active:text-gray-900 dark:hs-tab-active:text-white relative dark:hs-tab-active:border-primary min-w-0 flex-1 bg-white dark:bg-dark border-t-2 border-t-transparent py-7 px-4 text-gray-500 hover:text-gray-700 text-sm font-medium text-center overflow-hidden hover:bg-gray-50 focus:z-10 focus:outline-none focus:text-primary disabled:opacity-50 "
									id="bar-with-underline-item-3" aria-selected="false"
									data-hs-tab="#bar-with-underline-4" aria-controls="bar-with-underline-4" role="tab">
									<div class="flex justify-center">
										<div class="flex gap-2 items-center">
											<i
												class="ti ti-layout-sidebar-right shrink-0 text-2xl hs-tab-active:text-primary"></i>
											<h2 class="text-lg font-semibold hs-tab-active:text-primary">Workflows</h2>
										</div>
									</div>
								</button>
							</nav>
						</div>
					</div>