
<!DOCTYPE html>
<html lang="en" dir="ltr" data-color-theme="Blue_Theme" class="light selected" data-layout="vertical"
	data-boxed-layout="boxed" data-card="shadow">

<head>
	<!-- Required meta tags -->
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<!-- Favicon icon-->
	<link rel="shortcut icon" type="image/png" href="../assets/images/logos/favicon.png" />
	<link
	  href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
	  rel="stylesheet" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@2.44.0/tabler-icons.min.css">
	<!-- Core Css -->
	<link rel="stylesheet" href="../assets/css/style.css" />	<title>TailwindAdmin TailwindCSS HTML Admin Template</title>

  <script type="module" crossorigin src="./assets/js/main.js"></script>
  <script type="module" crossorigin src="./assets/js/swiper.js"></script>
  <script type="module" crossorigin src="./assets/js/navigation.js"></script>
  <script type="module" crossorigin src="./assets/js/pagination.js"></script>
  <script type="module" crossorigin src="./assets/js/frontendpage.js"></script>
  <link rel="stylesheet" crossorigin href="./assets/css/style.css">
</head>

<body class="DEFAULT_THEME  bg-white dark:bg-dark">
	<main>
		<!--start the project-->
		<div id="main-wrapper" class="flex frontend-page">

			<div class="w-full" role="main">
				<!-- Announcement Bar Start -->
				
				<!-- Announcement Bar End -->
				<!--  Header Start -->
				{% include header1.html %}

				<!-- Main Content -->
				<div class="max-w-full">

					<!-- Hero Section Star -->
					{% include header2.html %}
					<!-- Hero Section end -->

					<!-- Process Start -->
					{% include process.html %}
					<!-- Process End -->

					<!-- Metrics Start -->
					{% include metrics.html %}
					<!-- Metrics End -->

					<!-- Leadership start -->
					{% include leadership.html %}
					<!-- Leadership end -->

					<!-- Info strip start -->
					{% include infostrip.html %}
					<!-- Info strip end -->

					<!-- Powerful template start -->
					{% include discovery.html %}
					<!-- Powerful template end -->

					<!-- Testimonial start -->
					{% include testimonial.html %}
					<!-- Testimonial end -->

					<!-- Features Start -->
					{% include features.html %}

					<!-- Features End -->

					<!-- License Pricing Start -->
					{% include license1.html %}
					<!-- License Pricing End -->

					<!-- FAQ start -->
					{% include faq1.html %}
					<!-- FAQ end -->

					<!-- Feature Banner Start -->
					{% include featurebanner1.html %}
					<!-- Feature Banner End -->

					<!-- Footer Section -->
					{% include footer.html %}			
				</div>
				<!-- Main Content End -->
			</div>
		</div>
		<!--end of project-->
	</main>
	<!--Offcanvas lp menu---->
	<!--Offcanvas lp menu---->
	{% include sidebar.html %}
	<!--Offcanvas lp menu End---->
	<!-- Modal Start -->
	{% include vert.html %}
	<!-- Modal End -->
	<!-- Menu Canvas-->
	{% include navoffcanvas.html %}
	{% include focusmanagement.html %}	
	{% include hidden.html %}
	<!-- Main application entry point -->

	
	<!-- solar icons -->
	<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>

</body>

</html>