
<!DOCTYPE html>
<html lang="en" dir="ltr" data-color-theme="Blue_Theme" class="light selected" data-layout="vertical"
	data-boxed-layout="boxed" data-card="shadow">

{% include head1.html %}

<body class="DEFAULT_THEME  bg-white dark:bg-dark">
	<main>
		<!--start the project-->
		<div id="main-wrapper" class="flex frontend-page">

			<div class="w-full" role="main">
				<!-- Announcement Bar Start -->
				
				<!-- Announcement Bar End -->
				<!--  Header Start -->
				{% include header1.html %}

				<!-- Main Content -->
				<div class="max-w-full">
					<!----Breadcrumb Start---->
					<!-- Breadcrumb start -->
					<div class="w-full bg-lightprimary dark:bg-lightprimary lg:py-12 py-0">
					    <div class="flex w-full justify-center py-12">
					        <div class="lg:w-1/2 w-full">
					            <h4 class="text-base font-bold text-primary dark:text-primary uppercase text-center">Blog</h4>
					            <h3 class="lg:text-[56px] text-32 leading-tight font-bold text-link dark:text-white text-center">
					                Our Most Recent Articles
					            </h3>
					        </div>
					    </div>
					</div>
					<!-- Breadcrumb end -->					<!----Breadcrumb End---->
					<section class="container py-12 px-4">
						<div class="grid grid-cols-12 gap-6">
							<div class="lg:col-span-8 md:col-span-6 col-span-12">
								<div class="card animate-card overflow-hidden relative h-[400px] bg-cover bg-no-repeat before:block before:absolute before:bg-black before:opacity-40 before:top-0 before:h-full before:w-full"
									style="background-image: url(./assets/images/blog-img9.jpg);">
									<div class="card-body h-full relative">
										<div class="flex flex-col justify-between h-full">
											<div class="flex items-start justify-between">
												<div class="relative hs-tooltip hs-tooltip-toggle">
													<img src="./assets/images/user-4.jpg" alt=""
														class="rounded-full h-10 w-10">
													<span
														class="tooltip hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible "
														role="tooltip">
														Mollie Underwood
													</span>
												</div>
												<span
													class="bg-primary py-1 px-2 text-white  text-xs rounded-full">Gadget</span>
											</div>
											<div>
												<a href="./frontend-blogdetailpage.html"
													class="text-white  font-semibold text-2xl my-6 block">Early Black
													Friday
													Amazon deals: cheap TVs, headphones, laptops</a>
												<div class="flex items-center gap-4">
													<div class="flex items-center gap-2 text-white text-base">
														<i class="ti ti-eye text-lg text-body"></i>
														6006
													</div>
													<div class="flex items-center gap-2 text-white text-base">
														<i class="ti ti-message-2 text-lg text-body"></i>
														3
													</div>
													<div class="flex items-center gap-1 text-white fw-normal ms-auto">
														<i class="ti ti-point"></i>
														<small>Fri, Jan 13</small>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="lg:col-span-4 md:col-span-6 col-span-12">
								<div class="card animate-card overflow-hidden relative h-[400px] bg-cover bg-no-repeat before:block before:absolute before:bg-black before:opacity-40 before:top-0 before:h-full before:w-full"
									style="background-image: url(./assets/images/blog-img10.jpg);">
									<div class="card-body h-full relative">
										<div class="flex flex-col justify-between h-full">
											<div class="flex items-start justify-between">
												<div class="relative hs-tooltip hs-tooltip-toggle">
													<img src="./assets/images/user-5.jpg" alt=""
														class="rounded-full h-10 w-10">
													<span
														class="tooltip hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible "
														role="tooltip">
														Francisco Quinn
													</span>
												</div>
												<span
													class="bg-primary py-1 px-2 text-white text-xs rounded-full">Health</span>
											</div>
											<div>
												<a href="./frontend-blogdetailpage.html"
													class="text-white font-semibold text-2xl my-6 block">Presented by
													Max
													Rushden with Barry Glendenning, Philippe Auclair</a>
												<div class="flex items-center gap-4">
													<div class="flex items-center gap-2 text-white text-base">
														<i class="ti ti-eye text-lg text-body"></i>
														713
													</div>
													<div class="flex items-center gap-2 text-white text-base">
														<i class="ti ti-message-2 text-lg text-body"></i>
														3
													</div>
													<div class="flex items-center gap-1 text-white fw-normal ms-auto">
														<i class="ti ti-point"></i>
														<small>Wed, Jan 18</small>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="lg:col-span-4 md:col-span-6 col-span-12">
								<div class="card overflow-hidden group animate-card">
									<div class=" relative ">
										<a href="./frontend-blogdetailpage.html">
											<img src="./assets/images/blog-img6.jpg" class="w-full max-w-full"
												alt="...">
										</a>
										<span
											class="badge-md text-xs bg-white dark:bg-dark  text-dark dark:text-white  absolute right-4 rtl:right-auto rtl:left-4 bottom-4">
											2 min Read</span>
									</div>
									<div class="card-body">
										<div class="relative hs-tooltip hs-tooltip-toggle w-fit">
											<img src="./assets/images/user-7.jpg" alt=""
												class="rounded-full -mt-12  h-10 w-10 ">
											<span
												class="tooltip hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible "
												role="tooltip">
												Addie Keller
											</span>
										</div>
										<span class="bg-lightgray dark:bg-darkgray text-dark dark:text-white 
                                     text-xs badge-md font-medium mt-5 block w-fit">Gadget</span>
										<a class="block my-4  font-semibold text-dark dark:text-darklink text-lg hover:text-primary group-hover:text-primary"
											href="./frontend-blogdetailpage.html">As yen tumbles,
											gadget-loving Japan
											goes
											for secondhand iPhones</a>
										<div class="flex items-center gap-4">
											<div class="flex items-center gap-2 text-bodytext dark:text-darklink
                                    "><i class="ti ti-eye text-dark dark:text-darklink text-lg"></i>9,125</div>
											<div class="flex items-center gap-2 text-bodytext dark:text-darklink
                                    "><i class="ti ti-message-2 text-dark dark:text-darklink text-lg"></i>3
											</div>
											<div class="flex items-center text-xs ms-auto text-bodytext dark:text-darklink 
                                    "><i class="ti ti-point text-bodytext dark:text-darklink"></i>Mon, Jan 16
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="lg:col-span-4 md:col-span-6 col-span-12">
								<div class="card overflow-hidden group animate-card">
									<div class=" relative ">
										<a href="./frontend-blogdetailpage.html">
											<img src="./assets/images/blog-img11.jpg" class="w-full max-w-full"
												alt="...">
										</a>
										<span
											class="badge-md text-xs bg-white dark:bg-dark  text-dark dark:text-white  absolute right-4 rtl:right-auto rtl:left-4 bottom-4">
											2 min Read</span>
									</div>
									<div class="card-body">
										<div class="relative hs-tooltip hs-tooltip-toggle w-fit">
											<img src="./assets/images/user-2.jpg" alt=""
												class="rounded-full -mt-12  h-10 w-10 ">
											<span
												class="tooltip hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible "
												role="tooltip">
												Walter Palmer
											</span>
										</div>
										<span class="bg-lightgray dark:bg-darkgray text-dark dark:text-white 
                                     text-xs badge-md font-medium mt-5 block w-fit">Social</span>
										<a class="block my-4  font-semibold text-dark dark:text-darklink text-lg  group-hover:text-primary"
											href="./frontend-blogdetailpage.html">Intel loses bid to revive
											antitrust case
											against patent foe Fortress</a>
										<div class="flex items-center gap-4">
											<div class="flex items-center gap-2 text-bodytext dark:text-darklink
                                    "><i class="ti ti-eye text-dark dark:text-darklink text-lg"></i>4,150</div>
											<div class="flex items-center gap-2 text-bodytext dark:text-darklink
                                    "><i class="ti ti-message-2 text-dark dark:text-darklink text-lg"></i>38
											</div>
											<div class="flex items-center text-xs ms-auto text-bodytext dark:text-darklink 
                                    "><i class="ti ti-point text-bodytext dark:text-darklink"></i>Sun, Jan 15
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="lg:col-span-4 md:col-span-6 col-span-12">
								<div class="card overflow-hidden group animate-card">
									<div class=" relative ">
										<a href="./frontend-blogdetailpage.html">
											<img src="./assets/images/blog-img8.jpg" class="w-full max-w-full"
												alt="...">
										</a>
										<span
											class="badge-md text-xs bg-white dark:bg-dark  text-dark dark:text-white  absolute right-4 rtl:right-auto rtl:left-4 bottom-4">
											2 min Read</span>
									</div>
									<div class="card-body">
										<div class="relative hs-tooltip hs-tooltip-toggle w-fit">
											<img src="./assets/images/user-3.jpg" alt=""
												class="rounded-full -mt-12  h-10 w-10 ">
											<span
												class="tooltip hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible "
												role="tooltip">
												Miguel Kennedy
											</span>
										</div>
										<span class="bg-lightgray dark:bg-darkgray text-dark dark:text-white 
                                     text-xs badge-md font-medium mt-5 block w-fit">Health</span>
										<a class="block my-4  font-semibold text-dark dark:text-darklink text-lg group-hover:text-primary "
											href="./frontend-blogdetailpage.html">COVID outbreak deepens as
											more lockdowns
											loom in China</a>
										<div class="flex items-center gap-4">
											<div class="flex items-center gap-2 text-bodytext dark:text-darklink
                                    "><i class="ti ti-eye text-dark dark:text-darklink text-lg"></i>9,480</div>
											<div class="flex items-center gap-2 text-bodytext dark:text-darklink
                                    "><i class="ti ti-message-2 text-dark dark:text-darklink text-lg"></i>12
											</div>
											<div class="flex items-center text-xs ms-auto text-bodytext dark:text-darklink 
                                    "><i class="ti ti-point text-bodytext dark:text-darklink"></i>Sun, Jan 14
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="lg:col-span-4 md:col-span-6 col-span-12">
								<div class="card overflow-hidden group animate-card">
									<div class=" relative ">
										<a href="./frontend-blogdetailpage.html">
											<img src="./assets/images/blog-img5.jpg" class="w-full max-w-full"
												alt="...">
										</a>
										<span
											class="badge-md text-xs bg-white dark:bg-dark  text-dark dark:text-white  absolute right-4 rtl:right-auto rtl:left-4 bottom-4">
											2 min Read</span>
									</div>
									<div class="card-body">
										<div class="relative hs-tooltip hs-tooltip-toggle w-fit">
											<img src="./assets/images/user-5.jpg" alt=""
												class="rounded-full -mt-12  h-10 w-10 ">
											<span
												class="tooltip hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible "
												role="tooltip">
												Esther Lindsey
											</span>
										</div>
										<span class="bg-lightgray dark:bg-darkgray text-dark dark:text-white 
                                     text-xs badge-md font-medium mt-5 block w-fit">Lifestyle</span>
										<a class="block my-4  font-semibold text-dark dark:text-darklink text-lg group-hover:text-primary"
											href="./frontend-blogdetailpage.html">Streaming video way
											before it was cool, go
											dark tomorrow</a>
										<div class="flex items-center gap-4">
											<div class="flex items-center gap-2 text-bodytext dark:text-darklink
                                    "><i class="ti ti-eye text-dark dark:text-darklink text-lg"></i>2252</div>
											<div class="flex items-center gap-2 text-bodytext dark:text-darklink
                                    "><i class="ti ti-message-2 text-dark dark:text-darklink text-lg"></i>3
											</div>
											<div class="flex items-center text-xs ms-auto text-bodytext dark:text-darklink 
                                    "><i class="ti ti-point text-bodytext dark:text-darklink"></i>Sun, Jan 14
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="lg:col-span-4 md:col-span-6 col-span-12">
								<div class="card overflow-hidden group animate-card">
									<div class=" relative ">
										<a href="./frontend-blogdetailpage.html">
											<img src="./assets/images/blog-img3.jpg" class="w-full max-w-full"
												alt="...">
										</a>
										<span
											class="badge-md text-xs bg-white dark:bg-dark  text-dark dark:text-white  absolute right-4 rtl:right-auto rtl:left-4 bottom-4">
											2 min Read</span>
									</div>
									<div class="card-body">
										<div class="relative hs-tooltip hs-tooltip-toggle w-fit">
											<img src="./assets/images/user-3.jpg" alt=""
												class="rounded-full -mt-12  h-10 w-10 ">
											<span
												class="tooltip hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible "
												role="tooltip">
												Leroy Greer
											</span>
										</div>
										<span class="bg-lightgray dark:bg-darkgray text-dark dark:text-white 
                                     text-xs badge-md font-medium mt-5 block w-fit">Design</span>
										<a class="block my-4  font-semibold text-dark dark:text-darklink text-lg group-hover:text-primary"
											href="./frontend-blogdetailpage.html">Apple is apparently
											working on a new
											‘streamlined’ accessibility for iOS</a>
										<div class="flex items-center gap-4">
											<div class="flex items-center gap-2 text-bodytext dark:text-darklink
                                    "><i class="ti ti-eye text-dark dark:text-darklink text-lg"></i>5860</div>
											<div class="flex items-center gap-2 text-bodytext dark:text-darklink
                                    "><i class="ti ti-message-2 text-dark dark:text-darklink text-lg"></i>38
											</div>
											<div class="flex items-center text-xs ms-auto text-bodytext dark:text-darklink 
                                    "><i class="ti ti-point text-bodytext dark:text-darklink"></i>Fri, Jan 13
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="lg:col-span-4 md:col-span-6 col-span-12">
								<div class="card overflow-hidden group animate-card">
									<div class=" relative ">
										<a href="./frontend-blogdetailpage.html">
											<img src="./assets/images/blog-img2.jpg" class="w-full max-w-full"
												alt="...">
										</a>
										<span
											class="badge-md text-xs bg-white dark:bg-dark  text-dark dark:text-white  absolute right-4 rtl:right-auto rtl:left-4 bottom-4">
											2 min Read</span>
									</div>
									<div class="card-body">
										<div class="relative hs-tooltip hs-tooltip-toggle w-fit">
											<img src="./assets/images/user-2.jpg" alt=""
												class="rounded-full -mt-12  h-10 w-10 ">
											<span
												class="tooltip hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible "
												role="tooltip">
												Tommy Butler
											</span>
										</div>
										<span class="bg-lightgray dark:bg-darkgray text-dark dark:text-white 
                                     text-xs badge-md font-medium mt-5 block w-fit">Lifestyle</span>
										<a class="block my-4  font-semibold text-dark dark:text-darklink text-lg group-hover:text-primary"
											href="./frontend-blogdetailpage.html">Apple is apparently
											working on a new
											‘streamlined’ accessibility for iOS</a>
										<div class="flex items-center gap-4">
											<div class="flex items-center gap-2 text-bodytext dark:text-darklink
                                    "><i class="ti ti-eye text-dark dark:text-darklink text-lg"></i>6315</div>
											<div class="flex items-center gap-2 text-bodytext dark:text-darklink
                                    "><i class="ti ti-message-2 text-dark dark:text-darklink text-lg"></i>12
											</div>
											<div class="flex items-center text-xs ms-auto text-bodytext dark:text-darklink 
                                    "><i class="ti ti-point text-bodytext dark:text-darklink"></i>Wed, Jan 11
											</div>
										</div>
									</div>
								</div>
							</div>


							<div class="lg:col-span-4 md:col-span-6 col-span-12">
								<div class="card overflow-hidden group animate-card">
									<div class=" relative ">
										<a href="./frontend-blogdetailpage.html">
											<img src="./assets/images/blog-img4.jpg" class="w-full max-w-full"
												alt="...">
										</a>
										<span
											class="badge-md text-xs bg-white dark:bg-dark  text-dark dark:text-white  absolute right-4 rtl:right-auto rtl:left-4 bottom-4">
											2 min Read</span>
									</div>
									<div class="card-body">
										<div class="relative hs-tooltip hs-tooltip-toggle w-fit">
											<img src="./assets/images/user-4.jpg" alt=""
												class="rounded-full -mt-12  h-10 w-10 ">
											<span
												class="tooltip hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible "
												role="tooltip">
												Donald Holmes
											</span>
										</div>
										<span class="bg-lightgray dark:bg-darkgray text-dark dark:text-white 
                                     text-xs badge-md font-medium mt-5 block w-fit">Design</span>
										<a class="block my-4  font-semibold text-dark dark:text-darklink text-lg group-hover:text-primary"
											href="./frontend-blogdetailpage.html">Why Figma is selling to
											Adobe for $20
											billion</a>
										<div class="flex items-center gap-4">
											<div class="flex items-center gap-2 text-bodytext dark:text-darklink
                                    "><i class="ti ti-eye text-dark dark:text-darklink text-lg"></i>7570</div>
											<div class="flex items-center gap-2 text-bodytext dark:text-darklink
                                    "><i class="ti ti-message-2 text-dark dark:text-darklink text-lg"></i>38
											</div>
											<div class="flex items-center text-xs ms-auto text-bodytext dark:text-darklink 
                                    "><i class="ti ti-point text-bodytext dark:text-darklink"></i>Wed, Jan 11
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="lg:col-span-4 md:col-span-6 col-span-12">
								<div class="card overflow-hidden group animate-card">
									<div class=" relative ">
										<a href="./frontend-blogdetailpage.html">
											<img src="./assets/images/blog-img1.jpg" class="w-full max-w-full"
												alt="...">
										</a>
										<span
											class="badge-md text-xs bg-white dark:bg-dark  text-dark dark:text-white  absolute right-4 rtl:right-auto rtl:left-4 bottom-4">
											2 min Read</span>
									</div>
									<div class="card-body">
										<div class="relative hs-tooltip hs-tooltip-toggle w-fit">
											<img src="./assets/images/user-5.jpg" alt=""
												class="rounded-full -mt-12  h-10 w-10 ">
											<span
												class="tooltip hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible "
												role="tooltip">
												Eric Douglas
											</span>
										</div>
										<span class="bg-lightgray dark:bg-darkgray text-dark dark:text-white 
                                     text-xs badge-md font-medium mt-5 block w-fit">Gadget</span>
										<a class="block my-4  font-semibold text-dark dark:text-darklink text-lg group-hover:text-primary"
											href="./frontend-blogdetailpage.html">armins Instinct Crossover
											is a rugged
											hybrid smartwatch</a>
										<div class="flex items-center gap-4">
											<div class="flex items-center gap-2 text-bodytext dark:text-darklink
                                    "><i class="ti ti-eye text-dark dark:text-darklink text-lg"></i>6763</div>
											<div class="flex items-center gap-2 text-bodytext dark:text-darklink
                                    "><i class="ti ti-message-2 text-dark dark:text-darklink text-lg"></i>12
											</div>
											<div class="flex items-center text-xs ms-auto text-bodytext dark:text-darklink 
                                    "><i class="ti ti-point text-bodytext dark:text-darklink"></i>Tue, Jan 10
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>

					<!-- Footer Section -->
						{% include footer.html %}				
				</div>
				<!-- Main Content End -->
			</div>
		</div>
		<!--end of project-->
	</main>
	<!--Offcanvas lp menu---->
		<!--Offcanvas lp menu---->
	{% include sidebar.html %}
	<!--Offcanvas lp menu End---->
	<!-- Modal Start -->
	{% include vert.html %}
	<!-- Modal End -->
	<!-- Menu Canvas-->
	{% include navoffcanvas.html %}
	{% include focusmanagement.html %}	
	{% include hidden.html %}
	<!-- Main application entry point -->

	
	<!-- Main application entry point -->

	
	<!-- solar icons -->
	<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>

</body>

</html>
