
<!DOCTYPE html>
<html lang="en" dir="ltr" data-color-theme="Blue_Theme" class="light selected" data-layout="vertical"
	data-boxed-layout="boxed" data-card="shadow">

{% include head1.html %}

<body class="DEFAULT_THEME  bg-white dark:bg-dark">
	<main>
		<!--start the project-->
		<div id="main-wrapper" class="flex frontend-page">

			<div class="w-full" role="main">
				<!-- Announcement Bar Start -->
				
				<!-- Announcement Bar End -->
				<!--  Header Start -->
			{% include header1.html %}

				<!-- Main Content -->
				<div class="max-w-full">

					<!-- Herosection start -->
					{% include herosection.html %}
					<!-- Herosection end -->

					<!-- Demos Section Start -->
					{% include demos.html %}
					<!-- Demos Section End -->

					<!-- Team Works Start -->
					{% include team1.html %}
					{% include team2.html %}
					<!-- Team Works End -->

					<!-- Leadership start -->
					{% include leadership.html %}
					<!-- Leadership end -->

					<!-- Info strip start -->
					{% include info.html %}
					<!-- Info strip end -->

					<!-- Powerful template start -->
					{% include powtem.html %}
					<!-- Powerful template end -->

					<!-- Testimonial start -->
					{% include template.html %}
					<!-- Testimonial end -->

					<!-- Features Start -->
					{% include feature.html %}
					<!-- Features End -->

					<!-- License Pricing Start -->
					{% include license.html %}
					<!-- License Pricing End -->

					<!-- FAQ start -->
					{% include faq.html %}
					<!-- FAQ end -->

					<!-- Feature Banner Start -->
					{% include featurebanner.html %}
					<!-- Feature Banner End -->

					<!-- Footer Section -->
					{% include footer.html %}

				</div>
				<!-- Main Content End -->
			</div>
		</div>
		<!--end of project-->
	</main>
	<!--Offcanvas lp menu---->
	{% include sidebar.html %}
	<!--Offcanvas lp menu End---->
	<!-- Modal Start -->
	{% include vert.html %}
	<!-- Modal End -->
	<!-- Menu Canvas-->
	{% include navoffcanvas.html %}
	{% include focusmanagement.html %}	
	{% include hidden.html %}
	<!-- Main application entry point -->

	
	<!-- solar icons -->
	<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>

</body>

</html>
